@font-face {
  font-family: 'Roboto'; 
  src: url('./Roboto-Light.ttf') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto'; 
  src: url('./Roboto-Regular.ttf') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto'; 
  src: url('./Roboto-Medium.ttf') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto'; 
  src: url('./Roboto-Bold.ttf') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'RocknRoll One'; 
  src: url('./RocknRollOne-Regular.ttf') format('woff2');
  font-weight: 700;
}

